*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.debug *{
  border: 1px solid white;
}

.debug button{
  background-color: grey;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: #6f6b6b;
}

/* TYPO */
h2{
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
}

h3{
  font-size: 18px;
    font-weight: 700;
}

h4, h6{
  font-size: 12px;
  font-weight: 700;
}

h5{
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  margin-top: 15px;
}

h2, h3, h5{
  color: #fff;
}

/* /TYPO */

/* MIX */
.m_bottom30{
  margin-bottom: 30px;
}

.p_w15{
  padding: 0 15px;
}

.c_white{
  color: white;
}

ul.list-unstyled{
  margin: 0;
}

.flex_box{
  display: flex;
}

.line-clamp{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: none;
  color: inherit;
}
/* /MIX */

/* BUTTONS */
button{
  background-color: inherit;
  border: 0;
}

button.flex_box{
  align-items: center;
}

button:hover, i:hover{
  color: #fff;
}
/* BUTTONS */

/* STRUTTURA FIXED */
body > .fixed_container{
  height: 100vh;
}

.fixed_container > *.fixed, .upgrade{
  position: fixed;
}

/* ASIDE */
aside.lateral.fixed, main.fixed.center{
  top: 0;
  bottom: 60px;
  height: calc( 100% - 70px );
}

aside.lateral.fixed{
  left: 0;
  width: 200px;
  background-color: #000;
  flex-direction: column;
  font-size: 14px;
}
/* /ASIDE */

/* MAIN CENTER */
main.fixed.center{
  left: 200px;
  width: calc( 100% - 200px );
  display:flex;
  flex-direction: row;
  background-color: #141922;
}

.container_body{
  width: 100%;
  overflow: auto;
  height: 100%;
  padding-top: 80px;
}
/* MAIN CENTER */

/* FOOTER */
footer.fixed.bottom{
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #282828;
}
/* FOOTER */

/* sezione UPGRADE */
.upgrade{
  left: 200px;
  width: calc( 100% - 200px );
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
  z-index: 10;
}

.upgrade_text{
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #fff;
}

.upgrade_text:hover{
  transform: scale(1.1);
  transition: transform linear 0.3s;
}
/* /sezione UPGRADE */
/* /STRUTTURA FIXED */

/* Aside LATERAL*/
aside.lateral > .lateral_top{
  height: 100%;
  flex-direction: column;
}

/* /LATERAL LOGO */
.lateral_logo{
  height: 70px;
  line-height: 70px;
  width: 100%;
}

.lateral_logo > img{
  height: 30px;
}

.lateral_logo > img.lateral_logo_mobile{
  display: none;
}
/* /LATERAL LOGO */

/* /LATERAL Nav/Playlist BUTTONS */
.lateral_button{
  height: 35px;
  width: 100%;
  align-items: center;
  margin: 2px 0;
}

.lateral_top img.nav_icone{
  height: 60%;
  margin: 0 10px 0 15px;
  opacity: 0.5;
}

.lateral_button:hover img.nav_icone{
  opacity: 1;
}

.lateral_button:hover{
  color: #fff;
}
/* /LATERAL Nav/Playlist BUTTONS */

/* LATERAL PLAYLIST */
.lateral_playlist{
  overflow: hidden;
  flex-direction: column;
}

.new_playlist .lateral_button i{
  margin: 0 10px 0 15px;
  padding: 5px 0;
  font-size: 30px;
}

.lateral_playlist ul{
  overflow: auto;
}

.lateral_playlist ul li{
  padding: 5px 0;
  font-size: 12px;
}

.lateral_playlist ul li:hover{
  color: #fff;
}
/* /LATERAL PLAYLIST */
/* /LATERAL TOP */

/* LATERAL BOTTOM */
a.install_icone{
  border: 1px solid #a3a3a3;
  border-radius: 50%;
  height: 20px;
  line-height: 20px;
  width: 20px;
  font-size: 10px;
  margin-right: 10px;
}

.install_app:hover .install_icone i{
  border-color: #fff;
}

.profile_section{
  border-top: 1px solid white;
  align-items: center;
  height: 40px;
}

.profile_img{
  background-image: url(../img/sfondo-profile.jpg);
  background-size: cover;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-right: 5px;
}
/* /LATERAL BOTTOM */
/* Aside LATERAL*/

/* BODY NAV */
.body_nav ul{
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.body_nav ul li{
  margin: 0 20px
}
/* BODY NAV */

/* MAIN BODY */
.main_body{
  padding: 10px;
}

.main_body .row_body{
  padding: 20px 0;
}

.row_body.rounded_cover .cover_img{
  border-radius: 50%;
  overflow: hidden;
}

.row_body .cover_box{
  flex-basis: calc( ( 100% / 6 ) - 10px );
  flex-direction: column;
  text-align: center;
  margin-right: 10px;
}

.cover_img{
  position: relative;
}

.row_body > .cover_box img{
  width: 100%;
  position: relative;
  z-index: 1;
}

.overlay_play{
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba( 0,0,0,0.5);
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.cover_img:hover .overlay_play{
  z-index: 2;
  opacity: 1;
  transition: opacity linear 0.5s;
}

.cover_img .overlay_play button{
  font-size: 50px;
  color: #fff;
  background: none;
}
/* /MAIN BODY */

/* FOOTER */
footer.bottom{
  padding: 5px;
}

footer.bottom li{
  padding: 0 5px;
}

.left_bottom, .right_bottom{
  flex-basis: 20%;
  align-items: center;
}

.center_bottom{
  flex-basis: 60%;
  align-items: center;
  justify-content: center;
}

.bottom i:hover{
  transform: scale(1.2);
  transition: transform linear 0.2s;
}

/* BOTTOM LEFT  */
.left_bottom > *{
  height: 60%;
}

.bottom_track img{
  height: 100%;
}

.left_bottom .bottom_artist li{
  font-size: 9px;
  margin-top: 5px;
}

.left_bottom .bottom_artist li a:hover{
  text-decoration: underline;
  color: white;
}
/* /BOTTOM LEFT  */

/* BOTTOM CENTER  */
.center_bottom{
  flex-direction: column;
}

.center_bottom  ul{
  width: 100%;
  align-items: center;
}

.center_bottom  ul.timeline_button{
  justify-content: center;
}

.center_bottom .timeline_button i{
  font-size: 16px;
}

i#play_button{
  font-size: 25px;
}

.center_bottom ul.timeline{
  justify-content: space-between;
  font-size: 12px;
}

li#timeline_bar.little_bar{
  width: 80%;
}
/* /BOTTOM CENTER  */

/* BOTTOM RIGHT  */
.right_bottom{
  justify-content: flex-end;
}

.bottom_volume{
  align-items: center;
}

li#volume.little_bar{
  width: 100px;
}

.little_bar{
  height: 4px;
  background-color: grey;
  border-radius: 20px;
  overflow: visible;
  position: relative;
  margin: 0 5px;
}

.active_bar{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 60%;
  border-radius: 20px;
  background-color: #fff;
}

.active_bar_hover{
  position: relative;
  top: -3px;
  left: calc(100% - 3px );
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0;
}

.little_bar:hover .active_bar_hover{
  opacity: 1;
}

.little_bar:hover .active_bar{
  background-color: #c6ff63;
}
/* /BOTTOM RIGHT  */
/* /FOOTER */

/* Media Screen XS */
@media screen and ( max-width: 768px ){
  aside.fixed.lateral{
    width: 60px;
  }

  main.fixed.center, .upgrade{
    width: calc( 100% - 60px );
    left: 60px;
  }
  /* /STRUTTURA FIXED */

  .lateral_logo > img, aside.lateral h4, .lateral_playlist{
    display: none;
  }

  .lateral_logo > img.lateral_logo_mobile{
    display: inline-block;
  }

  .lateral_button, .lateral_bottom .flex_box{
    justify-content: center;
  }

  .lateral_top img.nav_icone, .profile_img, a.install_icone{
    margin: 0;
  }
  /* /sezione LATERAL */

  /* MAIN BODY */
  .main_body .row_body{
    display: block;
  }

  .row_body .cover_box{
    display: inline-block;
    width: calc( 50% - 12px );
    padding: 10px;
  }

  .cover_img .overlay_play button{
    font-size: 80px;
  }
  /* /MAIN BODY */

  /* FOOTER */
  ul.add_track, .right_bottom{
    flex-direction: column;
    justify-content: center;
  }

  .center_bottom .timeline_button i{
    font-size: 10px;
  }

  i#play_button{
    font-size: 18px;
  }

  li#volume.little_bar{
    width: 20px;
  }
  /* FOOTER */
}
/* /Media Screen XS */
