*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.debug .fixed_container > *{
  border: 1px solid black;
}

/* body.debug *{
  border: 1px solid black;
} */

/* TYPO */
h2{
  font-size: 20px;
}

h3{
  font-size: 18px;
}

h4, h6{
  font-size: 12px;
}

h5{
  font-size: 16px;
}


/* /TYPO */

/* MIX */
.m_bottom30{
  margin-bottom: 30px;
}
.p_w15{
  padding: 0 15px;
}

.c_lightgrey{
  color: #a3a3a3;
}

ul.list-unstyled{
  margin: 0;
}

.flex_box{
  display: flex;
}
/* /MIX */

/* BUTTONS */
button{
  background-color: inherit;
  border: 0;
}

button.flex_button{
  display: flex;
  align-items: center;
}
/* BUTTONS */

/* STRUTTURA FIXED */
body > .fixed_container{
  height: 100vh;
  color: #fff;
}

.fixed_container > *.fixed, .upgrade{
  position: fixed;
}

/* ASIDE */
aside.lateral.fixed, main.fixed.center{
  top: 0;
  bottom: 60px;
  height: calc( 100% - 70px );
}

aside.lateral.fixed{
  left: 0;
  width: 200px;
  background-color: #000;
  flex-direction: column;
  font-size: 14px;
}
/* /ASIDE */

/* MAIN CENTER */
main.fixed.center{
  left: 200px;
  width: calc( 100% - 200px );
  display:flex;
  flex-direction: row;
  background-color: #141922;
}

.container_body{
  width: 100%;
  overflow: auto;
  height: 100%;
  padding-top: 80px;
}
/* MAIN CENTER */

/* FOOTER */
footer.fixed.bottom{
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #282828;
}
/* FOOTER */

/* sezione UPGRADE */
.upgrade{
  left: 200px;
  width: calc( 100% - 200px );
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}

.upgrade_text{
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #fff;
}
/* /sezione UPGRADE */
/* /STRUTTURA FIXED */

/* Aside LATERAL dettagli */
aside.lateral > .lateral_top{
  height: 100% ;
  flex-direction: column;
}

/* /LATERAL LOGO */
.lateral_logo{
  height: 70px;
  line-height: 70px;
  width: 100%;
}

.lateral_logo > img{
  height: 30px;
}

.lateral_logo > img.lateral_logo_mobile{
  display: none;
}
/* /LATERAL LOGO */

/* /LATERAL Nav/Playlist BUTTONS */
.lateral_top .flex_button{
  height: 30px;
  width: 100%;
  border-left: 1px solid red;
}

.lateral_top .flex_button img{
  height: 20px;
  margin: 0 10px 0 15px;
  opacity: 0.7;
}

.lateral_top .flex_button img:hover{
  opacity: 1;
}
/* /LATERAL Nav/Playlist BUTTONS */

/* LATERAL PLAYLIST */
.lateral_playlist{
  overflow: hidden;
  flex-direction: column;
}

.lateral_playlist ul{
  overflow: auto;
}
/* /LATERAL PLAYLIST */
/* /LATERAL TOP */

/* LATERAL BOTTOM */
.lateral_bottom{
  padding: 0 10px;
}

button.install_app{
  height: 30px;
  width: 100%;
}

.install_app i.fa-arrow-down{
  border: 1px solid white;
  border-radius: 50%;
  padding: 3px;
  font-size: 7px;
  margin-right: 10px;
}

.profile_section.flex_box{
  border-top: 1px solid white;
  align-items: center;
  height: 40px;
}

.profile_img{
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: gold;
  margin-right: 10px;
}
/* /LATERAL BOTTOM */

/* BODY NAV */
.body_nav ul{
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.body_nav ul li{
  margin: 0 20px
}
/* BODY NAV */

/* MAIN BODY */
.main_body{
  padding: 10px;
}

.row_body.flex_box{
  flex-wrap: nowrap;
  overflow-x: hidden;
  padding-bottom: 20px;
}

.row_body.flex_box:hover{
  overflow-x: auto;
}

.row_body .box{
  flex-basis: calc( ( 100% / 6 ) - 10px );
  flex-shrink: 0;
  flex-direction: column;
  text-align: center;
  margin-right: 10px;
}

.row_body > .box > img{
  width: 100%;
  background-color: green;
}
/* /MAIN BODY */



@media screen and ( max-width: 768px ){
  aside.fixed.lateral{
    width: 60px;
  }

  main.fixed.center, .upgrade{
    width: calc( 100% - 60px );
    left: 60px;
  }
  /* /STRUTTURA FIXED */

  .lateral_logo > img, .lateral button > h4, .lateral_playlist{
    display: none;
  }

  .lateral_logo > img.lateral_logo_mobile{
    display: inline-block;
  }

  .lateral button.flex_button, .lateral_bottom div.flex_box{
    justify-content: center;
  }

  .lateral_top .flex_button img, .profile_img, .install_app > i.fa-arrow-down{
    margin: 0;
  }
  /* /sezione LATERAL */

  /* MAIN BODY */
  .row_body .box{
    flex-basis: calc( 50% - 10px );
  }
  /* /MAIN BODY */

}
